   <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
            <a class="navbar-brand" href="index.html">
             ODakota</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/messages">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                 <li class="nav-item">
                            <button id="myBtn" onclick="location.href = '/login';">Login</button>
                  </li>          
            </ul>
        </div>
    </nav>
   <div class="container">
   <h3>Update your profile</h3>
                <div class="row">
                    <!-- <div class="row"> -->
              <!-- <div class="col-md-2 col-sm-2 top-30">
                <a class="btn btn-default" href="/blog">Go to Blog</a>
                
              </div> -->
              
                    <div class="col-md-6">
                        <form id="cms">
                            <div class="col-md-6">
                                
                                 <hr>
                                
                                <input type="file" id="file-input">
                                <br/>
                                <hr>
                                
                                <p id="status">Please select a file to upload your Photo</p>
                            </div>
                            <div class="form-group">
                                <label for="title">User Name:</label>
                                <input type="text" class="form-control" id="username">
                                <br />
                                <label for="title">Zipcode:</label>
                                <input type="text" class="form-control" id="zipcode">
                            </div>
                               
                        </form>
                    </div>
                </div>
            
      
      <div id="browsetopics" align="center"><h1>Select your interests</h1></div>
      <!--Activity Category Buttons-->

      <div class="buttonscontainer" align="center">

      <button type="button" id="categorybutton" onclick="displayart()" class="btn btn-light">Arts</button>
      <button type="button" id="categorybutton" onclick="displayfoodanddrink()" class="btn btn-light">Food And Drink</button>
      <button type="button" id="categorybutton" onclick="displayoutdoor()" class="btn btn-light">Fitness</button>
      <button type="button" id="categorybutton" onclick="displaysports()" class="btn btn-light">Sports</button>
      <button type="button" id="categorybutton" onclick="displaygames()" class="btn btn-light">Games</button>

      </div>

      <br />
      <br />


   
    <div class="row">
    
    <!--Activity Card GetbootStrap-->
    <div class= "col">
    <div class="card bg-light mb-3" id="activitycard" style="max-width: 100rem;">
    <div class="card-header"><strong>Activities</strong></div>
    <div class="card-body">

    <!--Activity Choices Art-->

    <div class="card-text" id="activitylistart">
    <input type="checkbox" name="vehicle" value="1"> Arts & Culture<br>
    <input type="checkbox" name="vehicle" value="11"> Festivals<br>
    <input type="checkbox" name="vehicle" value="12"> Museums<br>
    <input type="checkbox" name="vehicle" value="13"> Concerts<br>
    <input type="checkbox" name="vehicle" value="14"> DIY/Crafts
    </div>

    <!--Activity Choices Food and Drink-->

    <div class="card-text" id="activitylistfoodanddrink">
    <input type="checkbox" name="vehicle" value="2"> Food and Drink<br>
    <input type="checkbox" name="vehicle" value="21"> Cuisine<br>
    <input type="checkbox" name="vehicle" value="22"> Nightlife<br>
    </div>

    <!--Activity Choices Fitness-->

    <div class="card-text" id="activitylistfitness">
    <input type="checkbox" name="vehicle" value="3"> Outdoor Recreation<br>    
    <input type="checkbox" name="vehicle" value="31"> Hiking<br>
    <input type="checkbox" name="vehicle" value="32"> Climbing<br>
    <input type="checkbox" name="vehicle" value="33"> Running<br>
    <input type="checkbox" name="vehicle" value="34"> Biking
    </div>

    <!--Activity Choices Sports-->

    <div class="card-text" id="activitylistsports">
    <input type="checkbox" name="vehicle" value="4"> Sports<br>
    <input type="checkbox" name="vehicle" value="41"> Watching<br>
    <input type="checkbox" name="vehicle" value="42"> Playing<br>
    </div>

    <!--Activity Choices Games-->

    <div class="card-text" id="activitylistgames">
    <input type="checkbox" name="vehicle" value="5"> Toys & Games<br>
    <input type="checkbox" name="vehicle" value="51"> Board Games<br>
    <input type="checkbox" name="vehicle" value="52"> Video Games<br>
    <input type="checkbox" name="vehicle" value="53"> Vintage/Collecting<br>
    <input type="checkbox" name="vehicle" value="54"> DIY/Tech
    </div>
                </div>
                    </div>
                        </div>
                            </div>
                            

      
                            <div align="center">
                            <button type="button" id="submitactivities" class="btn btn-success" onclick="updateFunction()">Submit</button>
                            </div>

                                <br>
                                <br />
                                <!--<label for="aboutyourself">About Yourself</label>
                                <textarea class="form-control" rows="10" id="aboutyourself"></textarea>
                                <br/>
                                <button type="submit" class="btn btn-success submit">Submit</button>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <script type="text/javascript">
            (function() {
                document.getElementById("file-input").onchange = function() {
                const files = document.getElementById('file-input').files;
                const file = files[0];
                if(file == null){
             
                    return alert('Please select a file to upload your Photo');
                }
                getSignedRequest(file);
                };
            })();
        
            function getSignedRequest(file){
                const xhr = new XMLHttpRequest();
                xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
                xhr.onreadystatechange = function() {
                    if(xhr.readyState === 4){
                        if(xhr.status === 200){
                            const response = JSON.parse(xhr.responseText);
                            uploadFile(file, response.signedRequest, response.url);
                        }
                
                        else{
                            alert('Could not get signed URL.');
                        }
                    }
                };
                xhr.send();
            }

            function uploadFile(file, signedRequest, url){
                console.log(signedRequest);
                const xhr = new XMLHttpRequest();
                // xhr.open('PUT', signedRequest);
                xhr.open('PUT',"https://morning-harbor-42739.herokuapp.com/"+signedRequest);
                xhr.onreadystatechange = function() {
                    if(xhr.readyState === 4){
                        if(xhr.status === 200){
                            document.getElementById('preview').src = url;
                            document.getElementById('avatar-url').value = url;
                        }
                        else{
                            alert('Could not upload file.');
                        }
                    }
                };
                xhr.send(file);
            }
        </script>

        <script src="/assets/js/activity.js"></script>