   <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
            <a class="navbar-brand" href="index.html">
             ODakota</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/messages">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                 <li class="nav-item">
                            <button id="myBtn" onclick="location.href = '/login';">Login</button>
                  </li>          
            </ul>
        </div>
    </nav>

<div class="container">

{{#each friends}}
    <div class="row">
    <div class="col">

        <div class = "card">
        
            <div class = "card-header">
                {{friends.name}}
            </div>
    
            <div class = "card-body">
                <ul>
                <li>
                <img src = {{friends.picture}} />
                </li>
                <h3>Common Interests</h3>
                {{#each common}}
                    <li><strong>{{interest.name}}</strong></li>     
                {{/each}}
                </ul>
            </div>

        </div>

    </div>
    </div>
{{/each}}
</div>
