<!--NavBar-->
<!-- Home Video Start Here-->
        <video autoplay muted loop id="myVideo"> 
                <source src="../assets/videos/movie1.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
        </video>
        
<nav class="navbar navbar-expand-lg sticky-top navbar-dark">
            <a class="navbar-brand" href="index.html">
             ODakota</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>



      <div id="browsetopics" align="center"><h1>Browse Meetup Topics</h1></div>

      <!--Activity Category Buttons-->

      <div class="buttonscontainer" align="center">

      <button type="button" id="categorybutton" onclick="displayart()" class="btn btn-light">Arts</button>
      <button type="button" id="categorybutton" onclick="displayfoodanddrink()" class="btn btn-light">Education</button>
      <button type="button" id="categorybutton" onclick="displayoutdoor()" class="btn btn-light">Fitness</button>
      <button type="button" id="categorybutton" onclick="displaysports()" class="btn btn-light">Hobbies</button>
      <button type="button" id="categorybutton" onclick="displaygames()" class="btn btn-light">Games</button>

      </div>

      <br />
      <br />


    <container>
    <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-5">

    <!--Activity Card GetbootStrap-->

    <div class="card bg-light mb-3" id="activitycard" style="max-width: 100rem;">
    <div class="card-header"><strong>Activities</strong></div>
    <div class="card-body">

    <!--Activity Choices Art-->

    <div class="card-text" id="activitylistart">
    <input type="checkbox" name="vehicle" value="artsandculture"> Arts & Culture<br>
    <input type="checkbox" name="vehicle" value="festivals"> Festivals<br>
    <input type="checkbox" name="vehicle" value="museums"> Museums<br>
    <input type="checkbox" name="vehicle" value="concerts"> Concerts<br>
    <input type="checkbox" name="vehicle" value="diycrafts"> DIY/Crafts
    </div>

    <!--Activity Choices Food and Drink-->

    <div class="card-text" id="activitylistfoodanddrink">
    <input type="checkbox" name="vehicle" value="Bike"> Food and Drink<br>
    <input type="checkbox" name="vehicle" value="Running"> Cuisine<br>
    <input type="checkbox" name="vehicle" value="Basketball"> Nightlife<br>
    </div>

    <!--Activity Choices Fitness-->

    <div class="card-text" id="activitylistfitness">
    <input type="checkbox" name="vehicle" value="outdoorrecreation"> Outdoor Recreation<br>    
    <input type="checkbox" name="vehicle" value="hiking"> Hiking<br>
    <input type="checkbox" name="vehicle" value="climbing"> Climbing<br>
    <input type="checkbox" name="vehicle" value="running"> Running<br>
    <input type="checkbox" name="vehicle" value="biking"> Biking
    </div>

    <!--Activity Choices Sports-->

    <div class="card-text" id="activitylistsports">
    <input type="checkbox" name="vehicle" value="sports"> Sports<br>
    <input type="checkbox" name="vehicle" value="watching"> Watching<br>
    <input type="checkbox" name="vehicle" value="playing"> Playing<br>
    </div>

    <!--Activity Choices Games-->

    <div class="card-text" id="activitylistgames">
    <input type="checkbox" name="vehicle" value="Bike"> Toys & Games<br>
    <input type="checkbox" name="vehicle" value="Running"> Board Games<br>
    <input type="checkbox" name="vehicle" value="Basketball"> Video Games<br>
    <input type="checkbox" name="vehicle" value="Swimming"> Vintage/Collecting<br>
    <input type="checkbox" name="vehicle" value="Swimming"> DIY/Tech

    </div>

    </div>
    </div>
    </div>

    <div class="col-md-4"></div>

    </div>

      
<div align="center">
<button type="button" id="submitactivities" class="btn btn-success" onclick="submitfunction()">Submit</button>
</div>

<br>

    </container>

  <div class="hr-theme-slash-2">
  <div class="hr-line"></div>
  <div class="hr-icon">Model</div>
  <div class="hr-line"></div>
  </div>

<br>

   <!-- Counters-->
    <div class="container" align="center">
        <div class="row">
            <!-- Counter1-->
            <div class="col" id="counter">
                <img src="/assets/images/4.png" alt="Mountain View"><br />
                <strong><span class="counter" data-count="1500000">0</span></strong><br />
                <span class="countertitle">ODakota Meetup Users</span>
            </div>
            <!-- Counter2-->
            <div class="col" id="counter">
                <img src="/assets/images/3.png" alt="Mountain View"><br />
                <strong><span class="counter" data-count="200">0</span></strong><br />
                <span class="countertitle">Different Meet Groups</span>
            </div>
            <!-- Counter3-->
            <div class="col" id="counter">
                <img src="/assets/images/5.png" alt="Mountain View"><br />
                <strong><span class="counter" data-count="2000">0</span></strong><br />
                <span class="countertitle">Event Group Goal</span>
            </div>
        </div>
    </div>

        <div class="row"></div>

    <br>
    <br>
    <br>
    <br>
    <br>

<footer id="footers" class="footer-copyright text-center footers">
Copyright 2018 ODakota
</footer>



<!-- Internal JS Sources-->
<script src="/assets/js/index2.js"></script>
<script src="/assets/js/activity.js"></script>
