/*DropDown CSS-->*/
@charset "UTF-8";
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #379937;
}

body {
  margin: 40px;
}

.dropdown {
  position: relative;
  font-size: 14px;
  color: #333;
}
.dropdown .dropdown-list {
  padding: 12px;
  background: #fff;
  position: absolute;
  top: 30px;
  left: 2px;
  right: 2px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
  transform-origin: 50% 0;
  transform: scale(1, 0);
  transition: transform .15s ease-in-out .15s;
  max-height: 66vh;
  overflow-y: scroll;
}
.dropdown .dropdown-option {
  display: block;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .15s ease-in-out;
}
.dropdown .dropdown-label {
  display: block;
  height: 30px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  line-height: 1;
  cursor: pointer;
}
.dropdown .dropdown-label:before {
  content: '▼';
  float: right;
}
.dropdown.on .dropdown-list {
  transform: scale(1, 1);
  transition-delay: 0s;
}
.dropdown.on .dropdown-list .dropdown-option {
  opacity: 1;
  transition-delay: .2s;
}
.dropdown.on .dropdown-label:before {
  content: '▲';
}
.dropdown [type="checkbox"] {
  position: relative;
  top: -1px;
  margin-right: 4px;
}

#submit {
	float: right;
}


/*Model- Horizontal Line Around it CSS-->*/

.hr-theme-slash-2 {
  display: flex;
}
.hr-theme-slash-2 .hr-line {
  width: 100%;
  position: relative;
  margin: 15px;
  border-bottom: 1px solid #000;
}
.hr-theme-slash-2 .hr-icon {
  position: relative;
  font-family: "arial", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  top: 3px;
  font-weight: bolder;
  color: dimgrey;
  font-size: 25px;
}

/*Footer -CSS-->*/
#footers {
    position: relative;
    font-family: 'Helvetica', cursive;
    color: white;
    font-size: 14px;
    font-weight: bold;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    background-color: #75A6EF;
    width: 100%;
    border-top: 1px solid grey;
    margin-top: 0%;
}

footer{
    margin-top: 50px;
}


/*Nav Bar Styles*/

.navbar {
  background-color: #75A6EF;
  color: black;
  font-family: 'Helvetica', cursive;
}

.nav-item {
  color: white;
  margin-right:20px;
  font-size: 18px;
}


/*Counter Styles*/

#counter{  
font-size: 22px;
color: #68696b;
}



/*Category button */

#categorybutton {
  border: 1px solid gray;
  margin-left: 15px;
}

#categorybutton:hover {
  box-shadow: 3px 5px #888888;
}

#activitycard {
  border: 1px solid gray;
  margin-left:26%;
  margin-right:6%;
}

#submitactivities {
}

#browsetopics {
margin-left: 1%;
color: #505050;
}


/*ABOUT PAGE*/

/*Start Map Contact Form Styling*/

.description {
        text-align: center;
        font-size: 24px;
        color: #404040;
        margin-left: 100px;
        margin-right: 100px;
}

.titles {
    margin-top: 20px;
    color: #505050;
}

.name {

 text-shadow: 0 0 6px #75A6EF;
}

.about {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    border: solid gray 1px;
    margin: 20px;
}
.aboutpage{
    background-color: #F8F8F8;
}


#contact {
    background-color: #99bbff;
    color: #282828;
    border-top: solid black 1px;
    font-family: "Roboto", Monaco, monospace;
    margin-top: 30px;
}
#contact .well{
    margin-top:30px;
    border-radius:0;
    text-shadow: 1px 1px white;
}

#contact .form-control{
    border-radius: 0;
    border:2px solid #1e1e1e;
}

#contact button{
    border-radius:0;
    border:2px solid #1e1e1e;
}

#contact .row{
    padding-bottom:20px;
}

@media (max-width: 768px) { 
    #contact iframe {
    margin-bottom: 15px;
    } 
}
blockquote{
    padding: 25px 0px 25px;
}
#map {
    height: 400px;
    width: 100%;
    border: 1px solid black;
}
image {
    margin: auto;
    border-bottom: 1px solid black;
}

h4 {
  text-shadow: 1px 1px white;
  font-family: 'Mogra', cursive;
}
.quote-logo {
    margin-top: 20px;
    border-radius:50%;
    margin-bottom: 20px;
    border: .5px solid black;
}
.aboutimage{
    border: 1px solid darkgray;
    box-shadow: 1px 1px 10px goldenrod;   
}
.overlay {
        position: absolute;
        top: 50%;
        left: 10%;
        z-index: 1;
        color: white;
        font-size: 80px;
        font-weight: bold;
        text-shadow: 2px 2px black;
        font-size: 60px;
        font-size: 6vw;
}

#map{
    width: 100%;
    height: 430px;
}
/*END MATCH PAGE*/
